body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.paymentmethods {
    margin: 20px auto;
    width: fit-content;
}

#design-btn {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #0073e6;
}

footer p {
    margin: 0;
    font-size: 14px;
}
.clock{
    font-size: 48px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
    text-shadow:  0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6, 0 0 60px #00e6e6, 0 0 70px #00e6e6;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    from{
        text-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6, 0 0 60px #00e6e6, 0 0 70px #00e6e6;
    }
    to{
        text-shadow: 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0
    }
}

